Package: com.py233.ytmenhanced
Name: YTMEnhanced
Version: 1.0.0
Architecture: iphoneos-arm
Description: Lyrics, translation, and scrobbling for YouTube Music
Maintainer: py233
Author: py233
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
